﻿@model List<Employee>
@{
    ViewData["Title"] = "EmployeeList";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <script>
        var EmployeeDetails =  '@Url.Action("EmployeeDetail", "EmployeeData")';
        var DeleteEmployee = '@Url.Action("RemoveEmployee", "EmployeeData")';
        var UpdateEmployee = '@Url.Action("UpdateEmployee", "EmployeeData")';
    </script>
}

<h1>EmployeeList</h1>
<table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
        <tr>
            <td>Employee Name</td>
            <td>Dept Name</td>
            <td>Email Id</td>
            <td>Status</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>
                    <a class="ancEmp" data-empID="@obj.emp_id" href="javascript:void(0)">
                        @obj.fname @obj.lname
                    </a>
                </td>
                <td>
                    @obj.Department.departmentname
                </td>
                <td>@obj.emailid</td>
                <td>@obj.Status</td>
                <td><button type="button" class="btn btn-danger btn-sm btndelete" data-empID="@obj.emp_id">Delete</button></td>
            </tr>
        }
    </tbody>
</table>
<div class="modal fade" id="employeeDetails" tabindex="-1" role="dialog" aria-hidden="true">
</div>

@section Scripts {
<script type="text/javascript">
    $('.ancEmp').click(function(){
        var empID = $(this).attr('data-empID');
         $.ajax({
            url: EmployeeDetails,
            contentType: 'application/json; charset=utf-8',
            data: { empID },
            dataType: 'html',
            success: function(data) {
                if(data!=null){
                    $('#employeeDetails').html(data);
                    $('#employeeDetails').modal('show');
                }
            },
            error : function(data){
                console.log(data)
            }
        });
    })

    $('.btndelete').click(function(){
        var empID = $(this).attr('data-empID');
        $.ajax({
            url: DeleteEmployee,
            contentType: 'application/json; charset=utf-8',
            data: { empID },
            success: function(data) {
                if(data=="Success")
                location.reload();
                else
                alert(data);
            },
            error : function(data){
                console.log(data)
            }
        });
    })
</script>
}