﻿@model Employee
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Employee Details</h5>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>Employee ID</label>
                <input type="text" class="form-control" id="input_Name" value=@Model.fname>
            </div>
            <div class="form-group">
                <label>Email address</label>
                <input type="email" class="form-control" id="input_email" value=@Model.emailid>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="btnSaveChanges" data-empID=@Model.emp_id>Save changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>


<script type="text/javascript">
    $('#employeeDetails .btn-secondary').on('click',function(){
        $('#employeeDetails').modal('hide');
    })

    $('#employeeDetails #btnSaveChanges').on('click',function(){
        var emp = {
            emp_id : $(this).attr('data-empID'),
            fname : $('#input_Name').val(),
            emailid : $('#input_email').val()
        }

        $.ajax({
            url: UpdateEmployee,
            type: 'POST',
            data: emp,
            contentType: 'application/x-www-form-urlencoded',
            error: function (xhr) {
               alert('Error: ' + xhr.statusText);
            },
            success: function(data) {                
                 if(data=="Success")
               location.reload();
               else
               alert(data);
            }
        });
    })
</script>