﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CustomError</title>
</head>
<body>
    <h3>@ViewBag.Message</h3>
    <h2>Sorry no Data Found</h2>
</body>
</html>
